{% extends 'catalog/base.html' %}

{% block title%}Информация о продукте{% endblock %}

{% block content %}
{% if category %}
        <div class="row text-center">
            <div class="col-12 text-center">
                        <h4 class="mt-2">{{ user.username }}</h4>
            </div>
            <div class="container btn-group w-100" role="group" aria-label="Basic example">
                <button class=" btn btn-outline-primary btn-lg mt-2 "><a href="{% url 'users:user_update' user.pk %}" class="link-dark link-offset-2 link-underline link-underline-opacity-0 mt-4 mx-1 ">Редактировать</a></button>
                <button class=" btn btn-outline-danger btn-lg mt-2 "><a href="{% url 'users:user_delete' user.pk %}" class="link-dark link-offset-2 link-underline link-underline-opacity-0 mt-4 mx-1 ">Удалить</a></button>
                <h6 class="text-center mt-2 dropdown-item text-white">
                    <form method="post" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <button class=" btn btn-light btn-sm"><h6>Выйти</h6></button>
                    </form>
                </h6>
            </div>

        </div>
{% else %}

{% endif %}
{% endblock %}